body{
    background-color: wheat;
    font-family: calibri;
    font-size: 22px;
    color: black;
    margin: 50px;
}
 
.menu {
    display: flex;
    list-style: none; 
    margin-left: 1350px;
}
.menu li{
  margin-right: 2px;  
}

.menu a:hover{
    color: blue;
} 
.topo {
    background-color:brown;  
    padding: none;
}
.topo a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navegacao {
   display: flex;

}

.botao {
    color: black;
    text-decoration: none;
    background-color:white;
    padding: 20px;
}
.materia a:hover {
    color: red;
}
.materia {
    background-color: grey;
    padding: 30px;
    margin-bottom: 30px;
}

.rodape {
   color: black;
   background-color: brown;
   padding: 50px;

}   

main{
    padding: none;
}