*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: wheat;
    font-family: calibri;
    font-size: 22px;
    color: black
}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end
}

.menu li{
  margin-right: 2px;  
}

.menu a:hover{
    color: blue;
} 

.topo {
    background-color: brown;
    padding: 1px;
}
.img-topo{
  width:100% ;
}
.topo a {
    color: white;
    text-decoration: none;
    padding: 4px;
}

.navegacao {
   display: flex;
   margin-bottom: 20px;
}

.titulo {
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 38px;
    font-size: 40px;
}
.subtitulo {
    text-align: center;
    font-size: 40px;
}

.texto {
    text-align: center;
    margin-bottom: 40px;
    font-size: 17px;
}

.botao {
    color: black;
    text-decoration: black;
    background-color:grey;
    padding: 20px;
    display: block;
    display: inline-block;
    border-radius: 30px;
    font-style:italic;
    font-size: 20px;
    border: 0;
}
.botao:hover {
    background-color: wheat;
}


.materia a:hover {
    color: blue;
}
.materia {
    background-color: grey;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 320px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    border-radius: 23px;
}
.materia img {
    width: 100%;
}

.h1-materia1{
    font-size: 28px;
    margin-bottom: 10px; 
}
.h1-materia2{
    font-size: 23px;
    margin-bottom: 10px;
}
.h1-materia3{
    font-size: 31px;
    margin-bottom: 10px;
}
.h1-materia4{
    font-size: 38px;
    margin-bottom: 10px;
}
.h1-materia5{
    font-size: 36px;
    margin-bottom: 10px;
}

.p2 {
    font-size: 14px;
    margin-bottom: 6px;
}
.p3 {
    font-size: 15px;
    margin-bottom: 6px;
}
.h3 {
    font-size: 21px;
    margin-bottom: 6px;
}
.p4 {
    font-size: 18px;
    margin-bottom: 5px;
}
.p4-1 {
    font-size: 18px;
    margin-bottom: 5px;
}
.p5{
    font-size: 18px;
    margin-bottom: 6px;
}
.p5-1 {
    font-size: 18px;
    margin-bottom: 5px;
}

.contato{
    background-color: white;
    padding: 55px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    margin-bottom: 47px;
}
.mapa {
    width: 100%;
    margin-bottom: 10px;
}
.rotulo {
    display: block;
    margin-bottom: 20px;
}
.campo {
    display: block;
    width: 100%;
    height: 26px;
    font-size: 30px;
    padding-left: 44px;
    border: 1px;
    background-color: #cccc
}
textarea.campo {
    height: 150px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.campo:focus {
    background-color: white;
}
.rodape {
   color: black;
   background-color: brown;
   padding: 50px;
   text-align: center;
}   
.grade{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}
main{
    padding: none;
}

@media (min-width: 768px) {
    
    .topo a {
        font-size: 18px;
    }
    .h1-materia1 {
        font-size: 28px;
    }
    .h1-materia2 {
        font-size: 23px;
    }
    .h1-materia3 {
        font-size: 32px;
    }
    .h1-materia4 {
        font-size: 33px;
    }
    .h1-materia5 {
        font-size: 29px;
    }
    }


    
