*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: wheat;
    font-family: calibri;
    font-size: 22px;
    color: black;
    margin: 50px;
}

.menu {
    display: flex;
    list-style: none; 
    margin-left: 1350px;
}

.menu li{
  margin-right: 2px;  
}

.menu a:hover{
    color: blue;
} 

.topo {
    background-color:brown;  
    padding: none;
}

.topo a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navegacao {
   display: flex;
   margin-bottom: 20px;
}

.titulo {
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 40px;
    font-size: 60px;
}
.subtitulo {
    text-align: center;
    font-size: 40px;
}

.texto {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.botao {
    color: black;
    text-decoration: black;
    background-color:grey;
    padding: 20px;
    display: block;
    display: inline-block;
    border-radius: 30px;
    font-style:italic;
    font-size: 20px;
    border: 0;
}
.botao:hover {
    background-color: wheat;
}


.materia a:hover {
    color: blue;
}
.materia {
    background-color: grey;
    padding:50px;
    margin-bottom: 60px;
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.materia img {
    width: 600px;
}
.materia h1{
    margin-bottom: 10px;
}
.contato{
    background-color:white;
    padding: 50px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    margin-bottom: 40px;
}
.mapa {
    width: 100%;
    margin-bottom: 10px;
}
.rotulo {
    display: block;
    margin-bottom: 20px;
}
.campo {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    background-color: #cccc;
}
textarea.campo {
    height: 150px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.campo:focus {
    background-color: white;
}
.rodape {
   color: black;
   background-color: brown;
   padding: 50px;
   text-align: center;
}   
.grade{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
}
main{
    padding: none;
}